################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TSManager/.vs/TSManager/v17
/TSManager/bin/Debug/net5.0-windows
/.vs/TSManager/v17
/TSManager/obj
/TSManager/bin/Debug/net6.0-windows8.0
/.vs/TSManager/DesignTimeBuild
