################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/TSManager.GUI/obj
/Output/Debug
/TSManager.Core/.vs/TSManager/v17
/TSManager.Core/bin/Debug/net6.0
/TSManager.Core/obj
/TSManager.GUI/bin/Debug
/TSManager.Launcher/bin/Debug/net6.0
/TSManager.Launcher/obj
/TSManager.Web/bin/Debug/net6.0
/TSManager.Web/obj
/Output
/TSManager.Core/bin/Release/net6.0
/TSManager.GUI/bin/Release
/TSManager.Launcher/bin/Release/net6.0
/TSManager.Web/bin/Release/net6.0
/TSManager/obj/Debug/net6.0-windows8.0/win-x64
/TSManager.Shared/obj
/TSManager.TShock/obj/Debug
